/* General Styles */
.bg-footer {
  background-color: #f7f30a;
}

.text-light {
  color: #f8f9fa !important;
}

/* Footer Headings */
.footer-heading {
  color: blue;
}

.footer-divider {
  border-top: 2px solid #6c757d;
  width: 25%;
  opacity: 1;
}

.footer-description,
.footer-item {
  color: #04334f;
}

.footer-links {
  display: flex;
  flex-direction: column;
}

.footer-link {
  color: #04334f;
  text-decoration: none;
  margin-bottom: 8px;
}

.footer-link:hover {
  text-decoration: underline;
  color: rgb(227, 16, 16);
}

/* Newsletter Form */
.newsletter-form {
  margin-top: 15px;
}

.newsletter-input {
  padding: 15px;
  border-radius: 10px;
  border: none;
  
}

.newsletter-button {
  background-color: rgb(135, 165, 245);
  color: rgb(38, 4, 233);
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out;
}

.newsletter-button:hover {
  background-color: #0056b3;
}

/* Social Icons */
.social-icons {
  display: flex;
  gap: 10px;
}

.social-icon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0b5079;
  border-radius: 50%;
  color: white;
  font-size: 1.2rem;
  transition: background-color 0.3s;
  text-decoration: none;
}

.social-icon:hover {
  background-color: white;
  color: #0b5079;
}

/* Footer Bottom Section */
.footer-bottom {
  background: #0b5079;
  
}

.footer-bottom .footer-link {
  color: orange;
}

.footer-bottom .footer-link:hover {
  text-decoration: underline;
  
}

.content {
  background: rgba(247, 246, 246, 0.7);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.newsletter-input::placeholder {
  color: blue;
  opacity: 1; /* Ensures the placeholder is fully visible */
}
