*{
    padding: 0;
    margin: 0;
}

@media (max-width: 991.98px) {
    .bg-quote {
        background-size: cover; /* Ensures responsiveness on smaller screens */
    }
}


.bg-quote {
    background: url(../Images/heroo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex; /* Flexbox for alignment */
    align-items: center; /* Vertically center the container */
    justify-content: flex-start; /* Align to the left */
}

.bg {
    margin-left: -15%; /* Adjust margin to move it slightly to the left */
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 0px;
    width: 70%; /* Adjust width as needed */
}