.logo {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: white;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
}

.navbar-brand h1 {
  font-size: 1.5rem;
  font-weight: bold;
  transition: opacity 0.3s ease;
}

.navbar-brand h1 {
  display: inline-block;
  white-space: nowrap;
}

.nav-item {
  font-size: 1rem;
  font-weight: 500;
}

.nav-item:hover {
  color: #ffc107 !important;
}

.navbar-toggler {
  border-color: #fff;
}

.navbar-toggler-icon {
  background-color: #fff;
}
