:root {
    --primary: #0b5079;
    --secondary: #f3f4f5;
    --light: #dc2121;
    --dark: #eeeef1;
  }
  

.container-fluid{
  padding: 0;
  margin: 0;
}


.service-item,
.contact-item {
 
border-radius: 4px;
border: 1px solid black;
  background-size: cover;
  transition: 0.5s;
 background-size: 60%;
}

.service-item:hover,
.contact-item:hover {
background-color: #0b5079;
 
  background-size: cover;
  background-size: 70%;
}

.service-item .service-icon,
.contact-item .contact-icon {
  margin-top: -50px;
  width: 100px;
  height: 100px;
  color: var(--secondary);
  background: #ffffff;
  transform: rotate(-45deg);

}

.service-item .service-icon div,
.contact-item .contact-icon div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary);
  transition: 0.5s;
}

.service-item .service-icon i,
.contact-item .contact-icon i {
  transform: rotate(45deg);
  transition: 0.5s;
}

.service-item:hover .service-icon div,
.contact-item:hover .contact-icon div {
  background: var(--secondary);
}

.service-item:hover .service-icon i,
.contact-item:hover .contact-icon i {
  color: var(--primary);
}

.service-item a.btn {
  position: relative;
  bottom: -30px;
  opacity: 0;
  transition: 0.5s;
}

.service-item:hover a.btn {
  bottom: 0;
  opacity: 1;
}

.bg-quote {
  background: url("/Images/quote.jpg") top right no-repeat;
  background-size: contain;
}

@media (max-width: 991.98px) {
  .bg-quote {
    background-size: cover;
  }
}
